- SVM is a support vector machine.
- SVM is used for classification problems.
- SVM works with linearly separable data.
- SVM projects a hyperplane on the center location between two classes of data.
- Generally used for binary classification problems , we can tweak our data point and can use it for multiclass classification.

- One vs All Approach:
    - Suppose our data has three unique classes - (+,*,^)
    - A new data point comes along , and we need to determine how SVM will generate respective hyperplane for the data.
    - In this case scenarian SVM will develop three model
        - Model 1 - (class 1 - '+') , (Class 2 - '*','^')
        - Model 2 - (class 1 - '^') , (Class 2 - '*','+')
        - Model 3 - (class 1 - '*') , (Class 2 - '+','^')
    - Our new data point will iterate through across all the models, and whenever the new data finds the  distance developing hyperplane and aligned class it will self assign.

- One vs One Approach:
    - Suppose our data has three unique classes - (+,*,^)
    - A new data point comes along , and we need to determine how SVM will generate respective hyperplane for the data.
    - The SVM will create binary classifier  for each pair available in the data.
        - Pair 1 - (+,*)
        - Pair 2 - (^,*)
        - Pair 3 - (+,^)
    - Our new data point will iterate through across all the models, and whenever the new data finds the  distance developing hyperplane and aligned class it will self assign.

- Kernel Function
    - Polynomial Kernel : Less efficient on linear data.
    - RBF (Radial Bias Function) Kernel : More efficient on linear data types.
    - Sigmoid Kernel : Mainly used in neural networks.
    - Linear Kernel : Used for lineraly separable data.

In [83]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler 
from sklearn.svm import SVC 
from sklearn.metrics import accuracy_score,classification_report

In [84]:

titanic_data=pd.read_csv(r"https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv")

In [85]:
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [86]:
titanic_data=titanic_data.drop(['Name','Ticket','Cabin','Embarked'],axis=1)

In [87]:
titanic_data.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0            1         0       3    male  22.0      1      0   7.2500
1            2         1       1  female  38.0      1      0  71.2833
2            3         1       3  female  26.0      0      0   7.9250
3            4         1       1  female  35.0      1      0  53.1000
4            5         0       3    male  35.0      0      0   8.0500

In [88]:
titanic_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Fare             0
dtype: int64

In [89]:
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
dtypes: float64(2), int64(5), object(1)
memory usage: 55.8+ KB

In [90]:
m_age=titanic_data['Age'].median()
titanic_data['Age'].fillna(m_age,inplace=True)

In [91]:
titanic_data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
dtype: int64

In [92]:
titanic_data = pd.get_dummies(titanic_data, columns=['Sex', 'Pclass'])
print(titanic_data.columns)

Index(['PassengerId', 'Survived', 'Age', 'SibSp', 'Parch', 'Fare',
       'Sex_female', 'Sex_male', 'Pclass_1', 'Pclass_2', 'Pclass_3'],
      dtype='object')

In [93]:
titanic_data['Sex_female'] = titanic_data['Sex_female'].astype(int)
titanic_data['Sex_male'] = titanic_data['Sex_male'].astype(int)

In [94]:
titanic_data['Pclass_1'] = titanic_data['Pclass_1'].astype(int)
titanic_data['Pclass_2'] = titanic_data['Pclass_2'].astype(int)
titanic_data['Pclass_3'] = titanic_data['Pclass_3'].astype(int)

In [95]:
titanic_data.head()

,PassengerId,Survived,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Pclass_1,Pclass_2,Pclass_3
0,1,0,22.0,1,0,7.2500,0,1,0,0,1
1,2,1,38.0,1,0,71.2833,1,0,1,0,0
2,3,1,26.0,0,0,7.9250,1,0,0,0,1
3,4,1,35.0,1,0,53.1000,1,0,1,0,0
4,5,0,35.0,0,0,8.0500,0,1,0,0,1

In [96]:
x=titanic_data.drop('Survived',axis=1)
y=titanic_data['Survived']

In [97]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=42)

In [98]:
from sklearn.preprocessing import StandardScaler

# Assuming xtrain and xtest are your feature matrices

# Initialize the StandardScaler
scaler = StandardScaler()

# Fit and transform the training data
xtrain= scaler.fit_transform(xtrain)

# Transform the test data using the same scaler
xtest = scaler.transform(xtest)

In [99]:
svm_model=SVC(kernel='rbf')
svm_model.fit(xtrain,ytrain)

SVC()

In [100]:
ypred=svm_model.predict(xtest)

In [101]:
accuracy=accuracy_score(ytest,ypred)

In [102]:
accuracy

0.8100558659217877

In [103]:
classification_report=classification_report(ytest,ypred)

In [105]:
print(classification_report)

              precision    recall  f1-score   support

           0       0.81      0.88      0.84       105
           1       0.80      0.72      0.76        74

    accuracy                           0.81       179
   macro avg       0.81      0.80      0.80       179
weighted avg       0.81      0.81      0.81       179